.search-img {
  margin: 0 auto;
  text-align: center;
  background-color: teal;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  .search-form {
    padding: 10px 10px;
  }
}

.gallery {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.photo-card {
  flex-basis: calc((100% - 40px) / 4);
  text-align: center;
  // flex: 0 1 24%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: hidden;

  &__cover {
    height: 300px;
    overflow: hidden;
  }

  &__img {
    // display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  &-item {
    display: flex;
    flex-direction: column;
  }
}

.btn-wrapper {
  text-align: center;
}

.load-more {
  margin: 15px auto;
  padding: 10px 45px;
  font-size: 18px;
  font-weight: 600;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}

.load-more.is-hidden {
  display: none;
}
